*{
  margin: 0px;
  background-color: rgb(156, 255, 255);
}


#logo {
  margin: auto;
  margin-left: 5px;
  height: 75px;
  width: 62px;
  padding: 10px;
  border-radius: 50%;
}


#title {
  margin: auto;
  margin-top: 25px;
  margin-left: 0px;
  padding-left: 0px;
}


#banner {
  text-align: center;
}


#firstGroup {

}


#secondGroup {
  align-content: right;
}

table, th, td {
  border: 1px solid black;
}

table {
  margin: 50px;
}

th, td {
  margin-left: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.coin {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
